DB_EMAIL_USERNAME=your_postgres_user
DB_EMAIL_PASSWORD=your_postgres_password
MAIL_USERNAME=your_smtp_username
RESEND_API_KEY=your_resend_api_key
RABBITMQ_ADDRESSES=localhost:5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/
RABBITMQ_SSL_ENABLED=false

